---
# Default home page with boxes providing collection stats
# {% include index/featured-terms.html field="genre" title="Genres" btn-color="success" max=8 %}
layout: page
---
<div class="row">
  <div class="col-md-8">

    {% include index/carousel.html title="Sample Items" height=450 %}

    {% include index/objects.html %}
  
  </div>
  <div class="col-md-4">

    {% include index/description.html %}
    
    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" max=8 %}

  </div>
  
</div>
